<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="w-full bg-zinc-700 p-10">
    <section class="w-1/2 m-auto">
      <div class="bg-zinc-800 p-10 rounded-md">
        <form action="/create" , method="post">
          <input
            class="w-full bg-zinc-700 px-5 py-3 rounded-md outline-none text-white"
            type="text"
            placeholder="Enter your name"
            name="filename"
          />
          <textarea
            style="background-color: rgb(66, 65, 65)"
            class="w-full mt-5 px-5 py-3 rounded-md outline-none text-white"
            name=""
            id=""
          ></textarea>
          <input
            type="submit"
            value="Submit Details"
            class="bg-cyan-500 px-5 py-3 rounded-md text-white mt-5 cursor-pointer"
            name="description"
          />
        </form>
      </div>
      <div class="bg-zinc-800 p-10 rounded-md mt-10 flex gap-4 flex-wrap">
        <% if (files.length > 0) { %> <% files.forEach((file) => { %>
        <div class="bg-zinc-700 rounded-md min-w-72 text-white p-4">
          <h2 class="text-3xl"><%= file %></h2>

          <div class="flex items-center justify-between underline mt-3">
            <a href="" class="text-cyan-500">Read More</a>
            <a href="" class="text-zinc-400">Rename File</a>
          </div>
        </div>
        <% }) %> <% } else { %>
        <h2 class="text-red-500 text-2xl">No files yet.</h2>
        <% } %>
      </div>
    </section>
  </body>
</html>
